#centerMainBox {
    /* border: 1px solid black; */
    width: 1200px;
    /* height: 950px; */
    margin: 0px auto;                     
}

#centerbox1 {
    border-bottom: 1px solid black;            
    height: 50px;   
    margin-bottom: 10px;         
}

#centerbox2 {
    /* border: 1px solid black; */                        
}

#centerbox3 {
    /* border: 1px solid blue;             */
    float: right;
}

#centerbox4 {
    /* border: 1px solid blue;             */
    float: right;                        
    margin-bottom: 25px;
}

#centerbox5 {
    /* border: 1px solid blue; */
    float: right;
    margin-top: 25px;
}

#centerbox1 span, #centerbox1 select  {
    /* border: 1px solid red; */
    display: inline-block;
}

#verticalTable {
    /* border: 1px solid blue; */
}

#pagination {            
    /* border: 1px solid gold; */
}

#sortform, #selectrow {
    float: right;     
    /* border: 1px solid gold; */
}

#sortform {
    margin-right: 10px;
    margin-top: 16px;
}

#selectrow {
    margin-top: 10px;
    background-color: #1E3440;
    color: white;            
}

#verticalTable {
    width: 1200px;             
    /* border: 1px solid;              */
}

#verticalTable th:nth-child(1) {width: 1px;}
#verticalTable th:nth-child(2) {width: 50px;}
#verticalTable th:nth-child(3) {width: 170px;}
#verticalTable th:nth-child(4) {width: 450px;}
#verticalTable th:nth-child(5) {width: 70px;}
#verticalTable th:nth-child(6) {width: 30px;}
#verticalTable th:nth-child(7) {width: 20px;}
#verticalTable th:nth-child(8) {width: 70px;}



#verticalTable th, #verticalTable td { text-align: center; color: white; border: 0px;}                
#verticalTable td:nth-child(4) a {color: white; }

#verticalTable thead tr th{            
    background-color: #92DAEC;
    color: #0C1B23;           
    /* border: 3px solid white */            
}

#verticalTable tr{
    background-color: #1E3440;                  
}

#verticalTable tr:nth-child(even){
    background-color: #0C1B23
}

#verticalTable td {
    border: 0px;              
}

#centerbox4Btn {
    color: white;   
    background-color: #1E3440 ;
}

#sortform a {
    color: #1E3440;           
}

#searchbtn, #acceptBtn, #refuseBtn {
    color: white;   
    background-color: #1E3440;
}

#pagination li > a {
    color: white;
    background-color: #1E3440;
    height: 25px;         
    line-height: 0.8em;
}

#pagination .nowPage {
    background-color: #92DAEC;
}

#centerbox4 select {
    color: white; 
    background-color: #1E3440 ;
}

#centerbox1 select, #centerbox4 input, #centerbox4 select, #centerbox5 input {
    /* background-color: red; */
    height: 25px;
    line-height: 0.8em;
}